

# rust specific
target
dist
# because the project has a binary crate
Cargo.lock


# sublime workspace
*.sublime-*

# intellij
.idea

logs

# if you are using vs code
.vscode
*.code-workspace

*.expanded.rs
time-profiler.log
out
